* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variables */
@import "./variables/variables";
@import "./variables/extend";
/* secciones */
@import "./secciones/header";
@import "./secciones/footer";
@import "./secciones/suplementos";
@import "./secciones/preguntas-frecuentes";
@import "./secciones/sobre-nosotros";
@import "./secciones/card";
/* mediaqueries */
@import "./mediaqueries";






  
