$negro : black;
$blanco : white;

.header1{
    background-color: $negro;
    .menu{
        .menu-ul{
            .menu-li{
                .menu-a{
                    color: $blanco;
            }   }
        }
    
    }
}

.footer1 {
    background-color: $negro;
    .footer-ul{
        .footer-li{
            .footer-a{
                color: $blanco;
            }
        }
    }
}