.footer1 {
    
    .footer-ul{
        display: flex;
        list-style: none;
        width: 450;
        margin: 10px ;
        justify-content: center;

        .footer-li{
            margin: 15px;

            .footer-a{
                text-decoration: none;

                &:hover{
                    color: red;
                    font-weight: bold;
                }

            }
        }
    }
}