.footer1 {
    background-color: $negro;

    .footer-ul {
        display: flex;
        list-style: none;
        width: 450;
        margin: 10px;
        justify-content: center;

        .footer-li {
            font-family: $tipografia;
            margin: 15px;

            .footer-a {
                color: $blanco;
                text-decoration: none;

                &:hover {
                    color: red;
                    font-weight: bold;
                }

            }
        }
    }
}