.main-sobrenosotros {
    background-color: grey;
    padding-top: 50px;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 50px;
    
    .main-sobrenosotros-h1 {
        text-align: center;
        margin-top: 20px;
    }
}